################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TabularProject_Analysys/.vs/TabularProject_Analysys/FileContentIndex/b518014d-c450-4876-8063-11ff242aa106.vsidx
